* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: linear-gradient(to bottom, #06315b, #0b7b73);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 70%;
}

.btn {
    padding: 10px 15px;
    border: none;
    background: #0a9d8d;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.weather-card {
    background: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,0.3));
    padding: 25px;
    border-radius: 16px;
    color: white;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.main {
    text-align: center;
}

.location {
    font-size: 20px;
    font-weight: bold;
}

.date {
    font-size: 14px;
    opacity: 0.8;
}

.temp {
    font-size: 60px;
    margin-top: 10px;
}

.icon img {
    width: 120px;
}

.details {
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    opacity: 0.9;
}

.details p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
